.login__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full screen height */
  padding: 0 40px;
}
.login__left {
  flex: 1;
  padding: 40px;
}

.login__left img {
  margin-bottom: 30px;
  height: 60px;
  object-fit: contain;
}

.login__left form {
  display: flex;
  flex-direction: column;
}

.login__left form input {
  margin-bottom: 10px;
  padding: 0 10px;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  font-size: 18px;
  border: 1px solid hsla(210, 2%, 38%, 0.5);
  outline: none;
}

.login__left form input:focus {
  border: 2px solid #0074b1;
}

.login__left form button {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  border-radius: 40px;
  background: #0074b1;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
}

.login__left form button:hover {
  background: #004182;
}

.login__left p {
  margin-top: 20px;
  font-size: 16px;
}

.login__register {
  padding: 5px 10px;
  border-radius: 25px;
  font-weight: 600;
  color: #0074b1;
  cursor: pointer;
}

.login__register:hover {
  background: #d0e8ff;
  text-decoration: underline 2px solid #0074b1;
}

.login__right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__right img {
  max-width: 90%;
  height: auto;
  border-radius: 10px;
}

.login__image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
